.card {
  background: var(--third-color);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 505px;
  text-align: start;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
  background-color: var(--primary-color);
}

.stars {
  font-size: 25px;
  margin-bottom: 1rem;
}
