.card {
  width: 360px;
  height: 300px;
}

.title {
  font-size: 25px;
  font-weight: 400;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 9px 9.2px 0px rgba(0, 0, 0, 0.25);
}

.front img {
  width: 90px;
  height: 90px;
}

.back {
  transform: rotateY(180deg);
  padding: 0 40px 0 40px;
}

.back > p {
  text-align: center;
}

.primary {
  background-color: var(--third-color);
}

.secondary {
  background-color: var(--primary-color);
}
