.section {
  position: relative;
  padding-top: 100px;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: start;
} */

.content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.left {
  text-align: start;
  max-width: 505px;
}

.title {
  font-size: 35px;
  font-weight: 400;
  text-align: start;
}

.right {
  max-width: 610px;
}

.icon {
  position: absolute;
  box-shadow: none;
  opacity: 70%;
}

.iconBig {
  width: 160px;
  height: 160px;
  top: 10%;
  left: 40%;
  transform: rotate(-18deg);
}

.iconSmall {
  width: 76px;
  height: 76px;
  top: 50%;
  left: 25%;
  transform: rotate(23deg);
}
