.footer {
  color: var(--bg-color);
}

.container {
  padding: 60px 16px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: var(--secondary-color);
}

@media (min-width: 768px) {
  .container {
    padding: 70px 100px;
  }
}

.img {
  width: 273px;
  height: 346px;
  border-radius: 30px;
  box-shadow: 14px 16px 19.9px 0px rgba(23, 23, 23, 0.5);
  object-fit: cover;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.linkContainer {
  display: flex;
  gap: 60px;
}

@media (min-width: 768px) {
  .linkContainer {
    gap: 110px;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-family: Italiana;
  font-size: 30px;
  font-weight: 400;
  text-align: start;
  margin-bottom: 60px;
}

.rights {
  margin-top: 60px;
}

.email {
  display: block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.email:hover {
  color: var(--third-color);
  transform: scale(1.05);
}
