.section {
  padding: 100px 0;
  position: relative;
  z-index: 0;
}

@media (min-width: 1024px) {
  .section {
    padding: 240px 0;
  }
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  text-align: center;
}

.title {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .title {
    font-size: 35px;
  }
}

.icon {
  position: absolute;
  box-shadow: none;
}

.iconBig {
  width: 90px;
  height: 90px;
  top: 70%;
  left: 0%;
  transform: rotate(22deg);
}

@media (min-width: 768px) {
  .iconBig {
    width: 160px;
    height: 160px;
    top: 50%;
    left: 0%;
  }
}

.iconSmall {
  width: 87px;
  height: 87px;
  top: 0%;
  left: 75%;
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .iconSmall {
    width: 108px;
    height: 108px;
    top: 30%;
    left: 95%;
  }
}

.blur {
  top: 20%;
  left: -20%;
  z-index: -1;
}
