.activeBtn {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 8px 14px;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid var(--text-color);
}

@media (min-width: 768px) {
  .activeBtn {
    font-size: 25px;
    padding: 10px 20px;
  }
}

.defaultBtn {
  border: 2px solid var(--text-color);
  color: var(--bg-color);
  padding: 8px 14px;
  border-radius: 15px;
  font-size: 16px;
  transition: background-color 0.5s ease;
}

.defaultBtn:hover {
  background-color: var(--text-color);
}

@media (min-width: 768px) {
  .defaultBtn {
    font-size: 25px;
    padding: 10px 20px;
  }
}
.container {
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .container {
    gap: 20px;
  }
}
