.title {
  margin-left: 60px;
  margin-top: -70px;
}

.containerTitle {
  max-width: 600px;
  text-align: start;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.tutorWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 32px;
}

.line {
  height: 1px;
  background-color: var(--text-color);
  flex: 1;
}

.label {
  font-size: 16px;
}

.rightContainer {
  position: relative;
}

.img {
  width: 505px;
  height: 626px;
  border-radius: 30px;
  box-shadow: 14px 10px 10px 0px rgba(23, 23, 23, 0.2);
  object-fit: cover;
}

.badge {
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 20px 24px;
  box-shadow: 10px 15px 20px 0px rgba(23, 23, 23, 0.2);
  animation: float 3s ease-in-out infinite;
  z-index: 1;
  text-align: start;
}

.badgeNumber {
  color: var(--accent-color);
  font-size: 35px;
}

.badgeLabel {
  font-size: 16px;
}

.badgeBottomLeft {
  bottom: -5%;
  left: -15%;
}

.badgeTopRight {
  top: -5%;
  right: -10%;
  animation-delay: 0.5s;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.listLangTop {
  display: flex;
  width: 1589px;
  transform: rotate(7deg);
  padding: 20px 90px;
  justify-content: space-between;
  align-items: center;
  background: rgba(160, 154, 135, 0.6);
  backdrop-filter: blur(10px);
  margin-top: 200px;
  margin-left: -200px;
}

.listLangBtm {
  display: flex;
  width: 1589px;
  padding: 20px 90px;
  justify-content: space-between;
  align-items: center;
  background: rgba(160, 154, 135, 0.4);
  margin-left: -200px;
  margin-top: -100px;
}

.listLangTop > li {
  font-size: 65px;
}
.listLangBtm > li {
  font-size: 65px;
}
