.card {
  background-color: var(--bg-color);
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px -10px 0px 0px #171717,
    10px 10px 22.4px 0px rgba(23, 23, 23, 0.5);
  transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover:not(.selected) {
  transform: scale(1.01);
}

@media (min-width: 768px) {
  .card {
    padding: 40px 50px 60px 50px;
  }
}

.selected {
  border: 3px solid var(--accent-color);
  box-shadow: 0px -10px 0px 0px #ef5848,
    10px 10px 22.4px 0px rgba(23, 23, 23, 0.5);
  transform: scale(1.02);
  background: linear-gradient(
    161deg,
    #f2f2f2 57.36%,
    rgba(239, 88, 72, 0.01) 123.18%
  );
}

.iconCard {
  margin-left: auto;
  margin: auto;
}

.title {
  font-size: var(--h4-size);
  font-weight: 400;
}

@media (min-width: 768px) {
  .title {
    font-size: var(--h3-size);
  }
}

.description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

@media (min-width: 1024px) {
  .list {
    flex-direction: row;
    gap: 16px;
  }
}

.list > li {
  font-size: 12px;
  padding: 5px 18px;
  background-color: var(--extra-color);
  border-radius: 20px;
}

.priceContainer {
  padding: 20px 0px;
  background-color: var(--extra-color);
  border-radius: 30px;
  margin-top: 36px;
  margin-bottom: 36px;
}

@media (min-width: 1024px) {
  .priceContainer {
    padding: 30px 0px;
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: end;
}

.price h3 {
  color: var(--accent-color);
  font-family: "Work Sans";
  font-size: 35px;
  font-weight: 400;
}

.priceContainer ul {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .priceContainer ul {
    margin-top: 0;
  }
}

.priceContainer ul li {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .priceContainer ul li {
    font-size: 15px;
  }
}

.iconFeature {
  width: 20px;
  height: auto;
}

.detailsList {
  text-align: start;
  margin-bottom: 24px;
  gap: 16px;
}

@media (min-width: 768px) {
  .detailsList {
    margin-bottom: 36px;
  }
}

.detailsList > li {
  display: flex;
  gap: 6px;
  font-size: var(--small-text);
}

@media (min-width: 768px) {
  .detailsList > li {
    font-size: var(--body-size);
  }
}
